body {
  /* Change to something you like, but please do customize the font! */
  font-family: Courier, monospace;
  line-height: 1.4;
  background-color: #6b8932;
  color: #fafafa;  
  max-width: 800px;
  margin: auto;  
  padding: 2em;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  
}
